<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarahbuechner.parky">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sarahbuechner.parky.DriverPrefrActivity"></activity>
        <activity android:name="com.sarahbuechner.parky.ParkingDetailActivity" />
        <activity android:name="com.sarahbuechner.parky.SearchParkActivity" />
        <activity android:name="com.sarahbuechner.parky.PublishParkActivity" />
        <activity android:name="com.sarahbuechner.parky.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>